# This file introduces a script into the Elasticbeanstalk deployment process
# which installs modules via npm ci instead of using the default NPM install.

# Because 50npm.sh also installs Node, we need to install Node ourselves in this script.

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49_npm_ci.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Install Node 10.x
      curl --silent --location https://rpm.nodesource.com/setup_10.x | bash -;

      # Install node_modules with npm ci
      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
      cd "${app}";
      echo "Inside ${app}, about to run npm ci."
      npm ci;
